# Product Demand Forecasts

# 1 - Download the Dataset
Download the Dataset from the following link:
https://www.kaggle.com/felixzhao/productdemandforecasting

# 2 - Read the Dataset
Read the dataset into a Pandas Dataframe.
Does the dataset include any missing values? If so, drop them.
Hint: Pandas can do that with one line of code!

In [1]:
import pandas as pd
df = pd.read_csv('Historical Product Demand.csv')
df.head()

   Product_Code Warehouse Product_Category       Date Order_Demand
0  Product_0993    Whse_J     Category_028  2012/7/27         100
1  Product_0979    Whse_J     Category_028  2012/1/19         500
2  Product_0979    Whse_J     Category_028   2012/2/3         500
3  Product_0979    Whse_J     Category_028   2012/2/9         500
4  Product_0979    Whse_J     Category_028   2012/3/2         500

# 3 - Extract Features
Exclude the region and date from the considered features.
Hint: You can choose to use all the features.

In [2]:
df

         Product_Code Warehouse Product_Category       Date Order_Demand
0        Product_0993    Whse_J     Category_028  2012/7/27         100
1        Product_0979    Whse_J     Category_028  2012/1/19         500
2        Product_0979    Whse_J     Category_028   2012/2/3         500
3        Product_0979    Whse_J     Category_028   2012/2/9         500
4        Product_0979    Whse_J     Category_028   2012/3/2         500
...               ...       ...              ...        ...          ...
1048570  Product_1791    Whse_J     Category_006  2016/4/27        1000
1048571  Product_1974    Whse_J     Category_006  2016/4/27           1
1048572  Product_1787    Whse_J     Category_006  2016/4/28        2500
1048573  Product_0901    Whse_J     Category_023  2016/10/7          50
1048574  Product_0704    Whse_J     Category_001  2016/6/27           4

[1048575 rows x 5 columns]

In [3]:
df = df.dropna()

In [4]:
df.drop(["Warehouse", "Date"], axis = 1, inplace= True)

/tmp/ipykernel_213/2235322884.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(["Warehouse", "Date"], axis = 1, inplace= True)

# 4 - Perform Preprocessing
Perform any needed pre-processing on the chosen features including:
* Scaling.
* Encoding.
* Dealing with Nan values.
Hint:
Use only the preprocessing steps you think are useful.

In [5]:
df.head()

   Product_Code Product_Category Order_Demand
0  Product_0993     Category_028         100
1  Product_0979     Category_028         500
2  Product_0979     Category_028         500
3  Product_0979     Category_028         500
4  Product_0979     Category_028         500

In [6]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df["Product_Code"] = encoder.fit_transform(df["Product_Code"])
df["Product_Category"] = encoder.fit_transform(df["Product_Category"])
df

/tmp/ipykernel_213/960175881.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Product_Code"] = encoder.fit_transform(df["Product_Code"])
/tmp/ipykernel_213/960175881.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Product_Category"] = encoder.fit_transform(df["Product_Category"])

         Product_Code  Product_Category Order_Demand
0                 982                27         100
1                 968                27         500
2                 968                27         500
3                 968                27         500
4                 968                27         500
...               ...               ...          ...
1048570          1780                 5        1000
1048571          1962                 5           1
1048572          1776                 5        2500
1048573           890                22          50
1048574           703                 0           4

[1037336 rows x 3 columns]

In [33]:
df['Order_Demand'] = df['Order_Demand'].str.strip()
df['Order_Demand'] = df['Order_Demand'].str.replace(r'\D', '', regex=True)
df['Order_Demand'] = df['Order_Demand'].astype(int)
d
df.info()

/tmp/ipykernel_213/2810451533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Order_Demand'] = df['Order_Demand'].str.strip()
/tmp/ipykernel_213/2810451533.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Order_Demand'] = df['Order_Demand'].str.replace(r'\D', '', regex=True)
/tmp/ipykernel_213/2810451533.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Order_Demand'] = df['Order_Demand'].astype(int)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1037336 entries, 0 to 1048574
Data columns (total 4 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Product_Code        1037336 non-null  int64
 1   Product_Category    1037336 non-null  int64
 2   Order_Demand        1037336 non-null  int64
 3   Order_Demand_clean  1037336 non-null  object
dtypes: int64(3), object(1)
memory usage: 39.6+ MB

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1037336 entries, 0 to 1048574
Data columns (total 3 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Product_Code      1037336 non-null  int64
 1   Product_Category  1037336 non-null  int64
 2   Order_Demand      1037336 non-null  int64
dtypes: int64(3)
memory usage: 63.9 MB

# 5 Split the Data
Split your data as follows:
* 80% training set
* 10% validation set
* 10% test set

In [39]:
features = len(df.columns)
y = df.iloc[:,2:3].values
X = df.iloc[:,0:2].values
X

array([[ 982,   27],
       [ 968,   27],
       [ 968,   27],
       ...,
       [1776,    5],
       [ 890,   22],
       [ 703,    0]])

In [40]:
y.shape

(1037336, 1)

In [41]:
X.shape

(1037336, 2)

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)
X_validate, X_test, y_validate, y_test = train_test_split(X_test,y_test, test_size = 0.5)

# 6 Training K-Nearest Neighbor (KNN) Regression
Use a KNN regressor model to train your data.  
Choose the best k for the KNN algorithm by trying different values and validating performance on the validation set.  
Regression Metrics  
Print the R-squared score of your final KNN regressor.

In [47]:
from sklearn.neighbors import KNeighborsRegressor
model = KNeighborsRegressor(n_neighbors = 8).fit(X_train,y_train)
model.score(X_test,y_test)

-0.06661168672303885

In [44]:
scores = []
results = 0
best_score = 0
neighbours = range(1,15)
for i in neighbours:
    knn = KNeighborsRegressor(n_neighbors = i).fit(X_train,y_train)
    results = knn.score(X_test,y_test)
    scores.append(round(results,2))
    if results > best_score:
        best_score = results
        best_k = i
        best_model = knn
print(scores)
print(best_k)

[-1.61, -2.91, -1.18, -0.54, -0.3, -0.26, -0.13, -0.07, -0.02, 0.01, 0.02, 0.05, 0.06, 0.08]
14

In [46]:
from sklearn.metrics import r2_score
model = KNeighborsRegressor(n_neighbors = 14).fit(X_train,y_train)

y_pred = knn.predict(X_test)


r2 = r2_score(y_test, y_pred)
print("Print the R-squared score of your final KNN regressor:", r2score(X_test,y_test))

ValueError: y_true and y_pred have different number of output (2!=1)